.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20%;
    color: var(--tg-theme-text-color);
}
